body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: Arial;
}

h1 {
  font-size: 40px;
  font-weight: normal;
  text-align: center;
}

header {
  height: 100px;
}

footer {
  height: 80px;
  padding-top: 30px;
  text-align: center;
  background-color: #c5c5c5;
  border-top: 2px solid #aaa;
}

nav {
  width: 100%;
  background-color: #424558;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  list-style-type: none;
  float: left;
}

nav a {
  display: inline-block;
  text-decoration: none;
  padding: 20px 30px;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}

.table {
  display: table;
  margin: 0 auto;
}

.menu-ind:hover,
.menu-ind:active,
.presentation {
  border-top: 5px solid #4C8;
  background-color: rgba(64, 200, 130, 0.15);
}

.menu-exp:hover,
.parcours {
  border-top: 5px solid #f1dc4f;
  background-color: rgba(241, 211, 79, 0.15);
}

.menu-hob:hover,
.competence {
  border-top: 5px solid #0070bb;
  background-color: rgba(000, 112, 192, 0.15);
}

.menu-cont:hover,
.recommandation {
  border-top: 5px solid #e44d26;
  background-color: rgba(228, 77, 38, 0.15);
}

nav li:hover a {
  padding: 15px 30px 20px 30px;
}

section {
  width: 100%;
  min-height: 300px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.sec {
  margin: 0px 10%;
}

.left {
  float: left;
  width: 30%;
}

.right {
  float: left;
  width: 70%;
}

.cleft,
.cright,
.sousleft,
.sousright {
  float: left;
  width: 50%;
}

.sec::after,
.exp::after,
.reco::after {
  content: "";
  display: table;
  clear: both;
}


.orange {
  border-top: 5px solid #e47d26;
  background-color: rgba(228, 177, 128, 0.15);
  margin-bottom: 0px;
}

.rose {
  border-top: 5px solid #e44d96;
  background-color: rgba(228, 77, 128, 0.15);
  margin-bottom: 0px;
}

.leftexp {
  width: 45%;
  float: left;
}

.rightexp {
  width: 50%;
  float: left;
  margin-left: 5%;
}

.leftexp img {
  width: 100%;
  max-width: 400px;
}

.left img {
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
  transition: all 0.5s;
}

.left img:hover {
  transform: scale(1.02);
}

.leftsec img{
  width: 100%;
  max-width: 400px;
}

.vert{
  border-top: 5px solid #5f6;
  background-color: rgba(70, 240, 80, 0.15);
}
.bleu{
  border-top: 5px solid #29c;
  background-color: rgba(30, 152, 212, 0.15);
}
.jaune{
  border-top: 5px solid #f3e241;
  background-color: rgba(240, 255, 69, 0.15);
}

.rouge{
  border-top: 5px solid #e44d26;
  background-color: rgba(228, 77, 38, 0.15);
}





@media screen and (max-width:780px) {
  header {
    height: 50px;
  }

  h1 {
    font-size: 28px;
    margin: 20px 0px 0px 0px;
  }

  nav li a {
    font-size: 12px;
    padding: 10px;
  }

  nav li:hover a {
    padding: 5px 10px 10px 10px;
  }
}

@media screen and (max-width:520px) {
  header {
    height: 40px;
  }

  h1 {
    font-size: 25px;
    margin: 20px 0px 0px 0px;
  }

  nav li a {
    font-size: 10px;
    padding: 10px;
  }

  nav li:hover a {
    padding: 7px 10px 10px 10px;
  }

  .menu-ind:hover {
    border-top: 3px solid #4C8;
    background-color: rgba(64, 200, 130, 0.15);
  }

  .menu-exp:hover {
    border-top: 3px solid #f1dc4f;
    background-color: rgba(241, 211, 79, 0.15);
  }

  .menu-hob:hover {
    border-top: 3px solid #0070bb;
    background-color: rgba(000, 112, 192, 0.15);
  }

  .menu-cont:hover {
    border-top: 3px solid #e44d26;
    background-color: rgba(228, 77, 38, 0.15);
  }
}