p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: rgb(243, 243, 243);
}

@media (max-width:450px) {
  body {
    padding-left: 24px;
  }

  .video-grid {
    padding-bottom: 70px;
  }

}